\.git
\.hg

\.DS_Store
\.project

*\.sublime-project
*\.sublime-workspace

node_modules
npm-debug\.log
logs

doc
lib-cov
public-cov
coverage.html
coverage.html.fmt
build

local
local_*
mysql_data
mongodb_data
mongodb_test_data

config/staging.js
config/production.js

config/runtime.json
public/gen
public/js/main-built.js
public/js/main-built.*.js

\.*.swp
.dir-locals.el

migrations/.migrate
